td {
    border: 2px solid red;
    padding: 1%;
    font-size: 2vw;
    cursor: pointer;
}

.toggle {
    background-color: gray;
}

img {
    width: 10%; 
}

caption {
    font-size: 2vw;
    font-weight: bolder;
    font-family: serif;
    text-align: center;
}

.container {
    width: 90%; 
    min-width: 300px; 
}
table{
    margin: auto;
}
@media screen and (max-width: 600px) {
    td {
        font-size: 4vw; 
    }

    table {
        width: 100%; 
    }
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    text-align: center;
}

#resposta {
    padding: 5%;
    font-size: 4.5vw;
    font-weight: bold;
    width: 100%;


}
