* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.logo {
    max-width: 150px;
    min-width: 80px;
}


footer {
    grid-area: footer;
}

@media(max-width:763px) {
    body {
        overflow: auto;
    }

    form {
        width: 100%;

    }

    #login,
    #cadastro {
        width: 90%;
    }

    .conteudo {
        flex-wrap: wrap;
    }


}
