
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
   
  }
  
  header {
    background-color: #42b24f;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img {
    height: 40px;
  }
  
  nav a {
    color: #fff;
    margin-left: 15px;
    text-decoration: none;
  }
  
  main {
    padding: 20px;
    display: flex;
    height: 100vh;
  }
  
  .banner img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
  }
  
  h1, h2, h3 {
    color: #333;
  }
  
  .conteúdo ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .conteúdo li {
    flex: 1;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  li img{
    width: 100%;
    height: 300px;
    cursor: pointer;
  }
  
  footer {
    text-align: center;
    padding: 10px;
    background-color: #9ab242;
    color: #fff;
    
  }
  button a{
    text-decoration: none;
    padding: 10px;
    background-color: blue;
    color: white;
    border-radius: 8px;
    
  }
button{
    border: none;
    padding: 10px;
}
